# macOS system files
.DS_Store

# Virtual environments
.venv/
venv/
ENV/
env/
*.env
sus_venv/

# Python bytecode and build artifacts
__pycache__/
*.py[cod]
*.so
*.egg-info/
build/
dist/

# IDE & editor settings
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/
profile_default/
ipython_config.py

# Output and data
output/
data/
temp/
test_logs/
llm_labeling/data

# Caching
lm_eval/caching/.cache
lm_cache/

# Logging
*.log
logs/

# # RQs Data
# *.pdf

# wandb experiment tracking
wandb/
examples/wandb/

# PyInstaller
*.spec
